.gallery {

}

.gallery__intro {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.gallery__price {
  margin-bottom: 1em;
}

.gallery__price-list {
  @include clear-list();

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.gallery__price-item {
  font-weight: 600;
  margin-bottom: ($grid-gutter-width);
  width: 50%;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    width: auto;
    margin-right: ($grid-gutter-width * 2);
    margin-bottom: 0;
  }
}

.gallery__price-icon {
  margin-right: 0.5em;
  vertical-align: middle;
  color: $accent-color;
}
