.welcome {
  position: relative;
  color: #fff;
  background-color: $dark-color;
  background: $dark-color url("images/bg-welcome.jpg") no-repeat center 80% / cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $dark-color;
    opacity: 0.5;
  }

  @media #{$retina} {
    background-image: url("images/bg-welcome@2x.jpg");
  }
}

.welcome__inner {
  @include make-container();

  position: relative;
  padding-bottom: ($grid-gutter-width * 4);
  text-align: center;

  @include media-breakpoint-up(md) {
    padding-top: ($grid-gutter-width * 8);
  }
}

.welcome__title {
  max-width: 630px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: rem(40);
  font-family: $secondary-font;

  span {
    display: block;
  }

  @include media-breakpoint-up(md) {
    font-size: rem(52);
    line-height: 1.2;
  }
}

.welcome__address {
  font-size: rem(30);
  font-weight: 600;
  color: $secondary-color;
  margin-bottom: 1em;

  @include media-breakpoint-up(md) {
    margin-bottom: 0.7em;
  }
}

.welcome__metro-stations-list {
  @include clear-list();

  display: flex;
  flex-direction :column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: $grid-gutter-width;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
  }
}

.welcome__metro-station {
  display: flex;
  margin-bottom: 5px;
  width: 50%;

  &::before {
    content: "";
    position: relative;
    top: 5px;
    display: block;
    width: 27px;
    height: 32px;
    margin-right: ($grid-gutter-width / 2);
    background: url("images/icon-metro.png") no-repeat center / contain;

    @media #{$retina} {
      background-image: url("images/icon-metro@2x.png");
    }
  }

  @include media-breakpoint-up(sm) {
    align-items: center;
    width: auto;
    margin-right: ($grid-gutter-width);
    font-size: rem($font-size--small);

    &:last-child {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(md) {
    margin-right: ($grid-gutter-width * 1.5);
    font-size: rem($font-size);
  }
}

.welcome__price {
  margin-bottom: $grid-gutter-width;
  font-weight: 700;
  font-size: rem(41);

  span {
    color: #01ba8e;
  }
}

.welcome__actions {
  @include media-breakpoint-up(sm) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.welcome__button {
  @include createButton();

  width: 100%;
  margin-bottom: ($grid-gutter-width);

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(sm) {
    width: auto;
    margin-bottom: 0;
  }
}

.welcome__button--gallery {
  @include createButtonColors();
}

.welcome__button--booking {
  @include createButtonColorsGreen();
}
